NEXT_PUBLIC_API_URL=https://api.tirbeo.app
NEXT_PUBLIC_APP_DOMAIN=tirbeo.app
NEXT_PUBLIC_COOKIE_DOMAIN=tirbeo.app
NEXT_PUBLIC_LOGO_URL=https://media.discordapp.net/attachments/1528388244419379301/1533834673296380015/ChatGPT_Image_Aug_3_2026_07_26_48_PM.png?ex=6a71ee5b&is=6a709cdb&hm=d656d2baa3eeb4e2b82beb263acef306108ac8933c7154284b19b606a2108387&=&format=webp&quality=lossless&width=1074&height=1074
NEXT_PUBLIC_WS_URL=wss://api.tirbeo.app/ws
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
